*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Balsamiq Sans", cursive;
  line-height: 1.5; }

.header {
  padding: 2rem; }
  .header__box {
    display: flex;
    justify-content: space-between; }

.nav {
  display: inline-block; }
  .nav__navigation {
    list-style: none; }
    .nav__navigation--item {
      text-decoration: none; }

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 1rem; }
  main .card img {
    width: 100%; }

.sidebar {
  background-color: green;
  color: white; }

.footer {
  background-color: purple;
  color: white; }

.header {
  background-color: red;
  color: white; }

.main-section {
  background-color: blue;
  color: white; }
