*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    line-height: 1.5;
}

.header {
    padding: 2rem;
    &__box {
        display: flex;
        justify-content: space-between;
    }
}

.nav {
    display: inline-block;
    &__navigation {
        list-style: none;
        &--item {
            text-decoration: none;
        }
    }
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1rem;
    .card {
       
        img {
            width: 100%;
        }
    }
}